

.container{
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
}

h1{
    text-align: center;
}

#ingresar{
    background-color: green;
    border: 0em;
    text-decoration: none;
}

#registrarse{
    background-color: rgb(53, 144, 166);
    border: 0em;
    text-decoration: none;
}