
h1{
    color: #93A392;
    text-transform: uppercase;
}

hr.linea{
    border:  solid white;
}

.border{
    background-color: #bad9a2;
    border-radius: 5em;
}


#btnVerificar{
    background-color: white;
    width:20%;
}

#TITULO{
    color: white;
}


